@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&family=Montserrat:wght@400;600;700;800;900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #000;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
:root {
  --main-color: #80ffdb;
  --second-color: #3c9279;
  --third-color: #070a0e;
  --fourth-color: #72828a;
  --white: #ffffff;
  --black: #000000;
  --montserrat-alternates: 'Montserrat Alternates', sans-serif;
  --montseerat: 'Montserrat', sans-serif;
}
